@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Dnn.Flow.QuizLearn.Models.QuestionViewModel>
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using DotNetNuke.Web.Mvc.Helpers


<div class="quizlearn-question">

    <h2>Kérdés @Model.QuestionNumber / @Model.TotalQuestions</h2>

    <p>@Model.QuestionText</p>

    <form method="post">
        @Html.AntiForgeryToken()

        <input type="hidden" name="AssessmentAction" value="AnswerQuestion" />
        <input type="hidden" name="SessionId" value="@Model.SessionId" />
        <input type="hidden" name="QuestionId" value="@Model.QuestionId" />
        <input type="hidden" name="QuestionNumber" value="@Model.QuestionNumber" />

        @foreach (var answer in Model.Answers)
        {
            <div>
                <label>
                    <input type="radio"
                           name="AnswerId"
                           value="@answer.AnswerId" />
                    @answer.AnswerText
                </label>
            </div>
        }

        <button type="submit" class="btn btn-primary">
            Tovább
        </button>
    </form>
</div>